<form class="new" action="new" method="post">
  <div class="article">
    <h1>Articulo Nuevo</h1>
    <label for="title">Título*</label>
    <input type="text" name="title" value="">
    <div class="contenido" id="c1" style="display:block;">
      <label for="subtitle">Subtitulo <b>(opcional)</b></label>
      <input type="text" name="subtitle" value="">
      <label for="photo">Foto:</label>
      <input type="text" name="photo" value="" placeholder="link de foto">
      <label for="content">Contenido*</label>
      <textarea name="content" rows="8" cols="80"></textarea>
      <h6 class="añadir">Añadir <b>FOTO/SUBTITULO</b></h6>
    </div>
    <div class="contenido" id="c2">
      <label for="subtitle1">Subtitulo <b>(opcional)</b></label>
      <input type="text" name="subtitle1" value="">
      <label for="photo1">Foto:</label>
      <input type="text" name="photo1" value="" placeholder="link de foto">
      <label for="content1">Contenido*</label>
      <textarea name="content1" rows="8" cols="80"></textarea>
      <h6 class="añadir1">Añadir <b>FOTO/SUBTITULO</b></h6>
    </div>
    <div class="contenido" id="c3">
      <label for="subtitle2">Subtitulo <b>(opcional)</b></label>
      <input type="text" name="subtitle2" value="">
      <label for="photo2">Foto:</label>
      <input type="text" name="photo2" value="" placeholder="link de foto">
      <label for="content2">Contenido*</label>
      <textarea name="content2" rows="8" cols="80"></textarea>
      <h6 class="añadir2">Añadir <b>FOTO/SUBTITULO</b></h6>
    </div>
    <div class="contenido" id="c4">
      <label for="subtitle3">Subtitulo <b>(opcional)</b></label>
      <input type="text" name="subtitle3" value="">
      <label for="photo3">Foto:</label>
      <input type="text" name="photo3" value="" placeholder="link de foto">
      <label for="content3">Contenido*</label>
      <textarea name="content3" rows="8" cols="80"></textarea>
      <h6 class="añadir3">Añadir <b>FOTO/SUBTITULO</b></h6>
    </div>
    <div class="contenido" id="c5">
      <label for="subtitle4">Subtitulo <b>(opcional)</b></label>
      <input type="text" name="subtitle4" value="">
      <label for="photo4">Foto:</label>
      <input type="text" name="photo4" value="" placeholder="link de foto">
      <label for="content4">Contenido*</label>
      <textarea name="content4" rows="8" cols="80"></textarea>
      <h6 class="añadir4">Añadir <b>FOTO/SUBTITULO</b></h6>
    </div>
    <div class="contenido" id="c6">
      <label for="subtitle5">Subtitulo <b>(opcional)</b></label>
      <input type="text" name="subtitle5" value="">
      <label for="photo5">Foto:</label>
      <input type="text" name="photo5" value="" placeholder="link de foto">
      <label for="content5">Contenido*</label>
      <textarea name="content5" rows="8" cols="80"></textarea>
      <h6 class="añadir5">Añadir <b>FOTO/SUBTITULO</b></h6>
    </div>
    <div class="contenido" id="c7">
      <label for="subtitle6">Subtitulo <b>(opcional)</b></label>
      <input type="text" name="subtitle6" value="">
      <label for="photo6">Foto:</label>
      <input type="text" name="photo6" value="" placeholder="link de foto">
      <label for="content6">Contenido*</label>
      <textarea name="content6" rows="8" cols="80"></textarea>
      <h6 class="añadir6">Añadir <b>FOTO/SUBTITULO</b></h6>
    </div>
    <div class="contenido" id="c8">
      <label for="subtitl76">Subtitulo <b>(opcional)</b></label>
      <input type="text" name="subtitle7" value="">
      <label for="photo7">Foto:</label>
      <input type="text" name="photo7" value="" placeholder="link de foto">
      <label for="content7">Contenido*</label>
      <textarea name="content7" rows="8" cols="80"></textarea>
    </div>
    <label for="fuente">Fuente <b>(opcional)</b>:</label>
    <input type="text" name="fuente" value="">
    <input class="boton" type="submit" value="Publicar">
  </div>
</form>
